@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald:wght@500&family=PT+Sans:ital@1&family=PT+Serif:wght@400;700&family=Yantramanav:wght@500&display=swap');


@media screen and (max-width: 415px) {
    .footerContainer{
        display:flex;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        height: 13vh;
        background: brown;
    }
    .footerItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin-bottom: 2px;
        border: 1px lightgrey solid;
    }
    .footTitle{
        font-size: 3.6vw;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        text-decoration: underline chocolate;
        -webkit-text-decoration: chocolate underline;
        color: white;
    }
    .footSubject{
        font-size: 2vw;
        font-family: 'Yantramanav', cursive;
        text-align: center;
        color: white;
    }
    .footSocial{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        margin-top: 1vh;
    }
    .socialIcon{
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 6.2vw;
        height: 6.2vw;
        border-radius: 50%;
        background: white;
    }
    .socialIconLink{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faIcon{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
        color: #3b5999;
    }
    .inIcon{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
        color: #e4405f;
    }
    .yeIcon{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
        color: #0099cc;
    }
}


@media only screen and (min-width: 415px) and (max-width: 769px) and (orientation: portrait) {
    .footerContainer{
        display:flex;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        height: 16vh;
        background: brown;
    }
    .footerItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin-bottom: 2px;
        border: 2px lightgrey solid;
    }
    .footTitle{
        font-size: 3.6vw;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        text-decoration: underline chocolate;
        -webkit-text-decoration: chocolate underline;
        color: white;
    }
    .footSubject{
        font-size: 2vw;
        font-family: 'Yantramanav', cursive;
        text-align: center;
        color: white;
    }
    .footSocial{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        margin-top: 1vh;
    }
    .socialIcon{
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 5.2vw;
        height: 5.2vw;
        border-radius: 50%;
        background: white;
    }
    .socialIconLink{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faIcon{
        width: 6vw;
        height: 6vw;
        color: #3b5999;
    }
    .inIcon{
        width: 6vw;
        height: 6vw;
        color: #e4405f;
    }
    .yeIcon{
        width: 6vw;
        height: 6vw;
        color: #0099cc;
    }
}


@media only screen and (min-width: 415px) and (max-width: 769px) and (orientation: landscape) {
    .footerContainer{
        display:flex;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        height: 18vh;
        background: brown;
    }
    .footerItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin-bottom: 2px;
        border: 2px lightgrey solid;
    }
    .footTitle{
        font-size: 3vw;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        text-decoration: underline chocolate;
        -webkit-text-decoration: chocolate underline;
        color: white;
    }
    .footSubject{
        font-size: 2vw;
        font-family: 'Yantramanav', cursive;
        text-align: center;
        color: white;
    }
    .footSocial{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        margin-top: 1vh;
    }
    .socialIcon{
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 5.6vw;
        height: 5.6vw;
        border-radius: 50%;
        background: white;
    }
    .socialIconLink{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1280px) and (orientation: portrait) {
    .footerContainer{
        display:flex;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        height: 16vh;
        background: brown;
    }
    .footerItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin-bottom: 2px;
        border: 2px lightgrey solid;
    }
    .footTitle{
        width: 90%;
        margin-bottom: 0.5vh;
        font-size: 3.2vw;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        text-decoration: underline chocolate;
        -webkit-text-decoration: chocolate underline;
        color: white;
    }
    .footSubject{
        font-size: 2vw;
        font-family: 'Yantramanav', cursive;
        text-align: center;
        color: white;
    }
    .footSocial{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        margin-top: 1vh;
    }
    .socialIcon{
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 50%;
        background: white;
    }
    .socialIconLink{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faIcon{
        size: 2x;
        height: "4vw";
        font-size: 2.5vw;
        color: #3b5999;
    }
    .inIcon{
        width: "4vw";
        height: "4vw";
        font-size: 2.5vw;
        color: #e4405f;
    }
    .yeIcon{
        width: "4vw";
        height: "4vw";
        font-size: 2.5vw;
        color: #0099cc;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1280px) and (orientation: landscape) {
    .footerContainer{
        display:flex;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        height: 23vh;
        background: brown;
    }
    .footerItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin-bottom: 2px;
        border: 2px lightgrey solid;
    }
    .footTitle{
        margin-bottom: 1vh;
        font-size: 3vw;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        text-decoration: underline chocolate;
        -webkit-text-decoration: chocolate underline;
        color: white;
    }
    .footSubject{
        font-size: 2vw;
        font-family: 'Yantramanav', cursive;
        text-align: center;
        color: white;
    }
    .footSocial{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        margin-top: 1vh;
    }
    .socialIcon{
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 50%;
        background: white;
    }
    .socialIconLink{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faIcon{
        width: "4vw";
        height: "4vw";
        font-size: 2.4vw;
        color: #3b5999;
    }
    .inIcon{
        width: "4vw";
        height: "4vw";
        font-size: 2.4vw;
        color: #e4405f;
    }
    .yeIcon{
        width: "4vw";
        height: "4vw";
        font-size: 2.4vw;
        color: #0099cc;
    }
}


@media only screen and (min-width: 1281px) {
    .footerContainer{
        display:flex;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        height: 20vh;
        background: brown;
    }
    .footerItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin-bottom: 10px;
        border: 2px lightgrey solid;
    }
    .footTitle{
        margin-bottom: 1vh;
        font-size: 2vw;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        text-align: center;
        text-decoration: underline chocolate;
        -webkit-text-decoration: chocolate underline;
        color: white;
    }
    .footSubject{
        font-size: 1.6vw;
        font-family: 'Yantramanav', cursive;
        text-align: center;
        color: white;
    }
    .footSocial{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
    }
    .socialIcon{
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 2.8vw;
        height: 2.8vw;
        border-radius: 50%;
        background: white;
    }
    .socialIconLink{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faIcon{
        width: 3vw;
        height: 3vw;
        font-size: 1.6vw;
        color: #3b5999;
    }
    .inIcon{
        width: 3vw;
        height: 3vw;
        font-size: 1.6vw;
        color: #e4405f;
    }
    .yeIcon{
        width: 3vw;
        height: 3vw;
        font-size: 1.6vw;
        color: #0099cc;
    }
}