@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald:wght@500&family=PT+Sans:ital@1&family=PT+Serif:wght@400;700&family=Yantramanav:wght@500&display=swap');


@media only screen and (max-width: 415px) {
    .wrapperTest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 38%;
        transition: ease-in 1000ms;
    }
    .sliderTest{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55vh;
    }
    .slidesTest{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4000vw;
        height: 55vh;
    }
    .slideWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .slideContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 94vw;
        min-height: 32vh;
        border-radius: 3vw;
        background-color: rgba(0,0,0,.67);
    }
    .testimoneyWrapper{
        display: flex;
        align-items: top;
        justify-content: space-between;
        overflow: hidden;
    }
    .leftQuote{
        font-size: 10vw;
        margin: 12px 0px 0px 4px;
        color: white;
    }
    .rightQuote{
        font-size: 10vw;
        margin: 12px 4px 0px 0px;
        color: white; 
    }
    .slideTestimoneyWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideTestimoney{
        display: flex;
        width: 90%;
        margin: 20px 0px 6px 0px;
        font-size: 4.4vw;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: white;
    }
    .slideInfos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4.8vw;
        font-family: 'PT Sans';
        font-weight: 500;
        color: white;
    }
    .slideName{
        margin-right: 40px;
    }
    .slideInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideInfo1{
        color: #0099CC;
    }
    .slideInfo2{
        color: #EA4335;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .wrapperTest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transition: ease-out 1000ms;
    }
    .sliderTest{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh;
    }
    .slidesTest{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4000vw;
        height: 35vh;
    }
    .slideWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .slideContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90vw;
        min-height: 28vh;
        border-radius: 18px;
        background-color: rgba(0,0,0,.58);
    }
    .testimoneyWrapper{
        display: flex;
        align-items: top;
        justify-content: space-between;
        overflow: hidden;
    }
    .leftQuote{
        font-size: 9vw;
        margin: 0px 0px 0px 14px;
        color: white;
    }
    .rightQuote{
        font-size: 9vw;
        margin: 0px 14px 0px 0px;
        color: white; 
    }
    .slideTestimoneyWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideTestimoney{
        display: flex;
        width: 90%;
        margin: 10px 0px 6px 0px;
        font-size: 3.6vw;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: white;
    }
    .slideInfos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.8vw;
        font-family: 'PT Sans';
        font-weight: 500;
        color: white;
    }
    .slideName{
        margin-right: 40px;
    }
    .slideInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideInfo1{
        color: #0099CC;
    }
    .slideInfo2{
        color: #EA4335;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    .wrapperTest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 36%;
        transition: ease-out 1000ms;
    }
    .sliderTest{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42vh;
    }
    .slidesTest{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4000vw;
        height: 42vh;
    }
    .slideWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .slideContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 94vw;
        min-height: 41vh;
        border-radius: 18px;
        background-color: rgba(0,0,0,.7);
    }
    .testimoneyWrapper{
        display: flex;
        align-items: top;
        justify-content: space-between;
        overflow: hidden;
    }
    .leftQuote{
        font-size: 6vw;
        margin: 0px 0px 0px 8px;
        color: white;
    }
    .rightQuote{
        font-size: 6vw;
        margin: 0px 8px 0px 0px;
        color: white; 
    }
    .slideTestimoneyWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideTestimoney{
        display: flex;
        width: 90%;
        margin: 10px 0px 6px 0px;
        font-size: 2.5vw;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: white;
    }
    .slideInfos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.7vw;
        font-family: 'PT Sans';
        font-weight: 500;
        color: white;
    }
    .slideName{
        margin-right: 40px;
    }
    .slideInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideInfo1{
        color: #0099CC;
    }
    .slideInfo2{
        color: #EA4335;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1280px) and (orientation: portrait) {
    .wrapperTest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 55%;
        transition: ease-out 1000ms;
    }
    .sliderTest{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38vh;
    }
    .slidesTest{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4000vw;
        height: 38vh;
    }
    .slideWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .slideContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 94vw;
        min-height: 28vh;
        border-radius: 22px;
        background-color: rgba(0,0,0,.65);
    }
    .testimoneyWrapper{
        display: flex;
        align-items: top;
        justify-content: space-between;
        overflow: hidden;
    }
    .leftQuote{
        font-size: 7.5vw;
        margin: 0px 0px 0px 8px;
        color: white;
    }
    .rightQuote{
        font-size: 7.5vw;
        margin: 0px 8px 0px 0px;
        color: white; 
    }
    .slideTestimoneyWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideTestimoney{
        display: flex;
        width: 90%;
        margin: 10px 0px 6px 0px;
        font-size: 3.8vw;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: white;
    }
    .slideInfos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-family: 'PT Sans';
        font-weight: 500;
        color: white;
    }
    .slideName{
        margin-right: 40px;
    }
    .slideInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideInfo1{
        color: #0099CC;
    }
    .slideInfo2{
        color: #EA4335;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1280px) and (orientation: landscape) {
    .wrapperTest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 56%;
        transition: ease-out 1000ms;
    }
    .sliderTest{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh;
    }
    .slidesTest{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4000vw;
        height: 35vh;
    }
    .slideWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .slideContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 92vw;
        min-height: 32vh;
        border-radius: 1.2vw;
        background-color: rgba(0,0,0,.68);
    }
    .testimoneyWrapper{
        display: flex;
        align-items: top;
        justify-content: space-between;
        overflow: hidden;
    }
    .leftQuote{
        font-size: 6vw;
        margin: 0px 0px 0px 30px;
        color: white;
    }
    .rightQuote{
        font-size: 6vw;
        margin: 0px 30px 0px 0px;
        color: white; 
    }
    .slideTestimoneyWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideTestimoney{
        display: flex;
        width: 84%;
        margin: 20px 0px 6px 0px;
        font-size: 2.2vw;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: white;
    }
    .slideInfos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4vw;
        font-family: 'PT Sans';
        font-weight: 500;
        color: white;
    }
    .slideName{
        margin-right: 40px;
    }
    .slideInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideInfo1{
        color: #0099CC;
    }
    .slideInfo2{
        color: #EA4335;
    }
}


@media only screen and (min-width: 1281px) {
    .wrapperTest{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 52%;
        transition: ease-out 1000ms;
    }
    .sliderTest{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35vh;
    }
    .slidesTest{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4000vw;
        height: 35vh;
    }
    .slideWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .slideContent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 72vw;
        min-height: 31vh;
        border-radius: 1.1vw;
        background-color: rgba(0,0,0,.78);
    }
    .testimoneyWrapper{
        display: flex;
        align-items: top;
        justify-content: space-between;
        overflow: hidden;
    }
    .leftQuote{
        font-size: 3.6vw;
        margin: 4px 0px 0px 30px;
        color: white;
    }
    .rightQuote{
        font-size: 3.6vw;
        margin: 4px 30px 0px 0px;
        color: white; 
    }
    .slideTestimoneyWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideTestimoney{
        display: flex;
        width: 80%;
        margin: 25px 0px 6px 0px;
        font-size: 1.5vw;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        color: white;
    }
    .slideInfos{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4vw;
        font-family: 'PT Sans';
        font-weight: 600;
        color: white;
    }
    .slideName{
        margin-right: 40px;
    }
    .slideInfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slideInfo1{
        color: #0099CC;
    }
    .slideInfo2{
        color: #EA4335;
    }
}