@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald:wght@500&family=PT+Sans:ital@1&family=PT+Serif:wght@400;700&family=Yantramanav:wght@500&display=swap');


@media only screen and (max-width: 415px) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 6px;
        margin: 16px 0px 20px 0px;
        border-radius: 5px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1vh;
    }    
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .contactTitle{
        margin: 0px;
        font-size: 8vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 3.6vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        text-align: center;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px brown solid;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 31%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 3.4vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 0px 0px 20px 0px;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .findTitle{
        margin: 0px;
        font-size: 8vw;
        font-family: 'PT Serif', serif;
        border-radius: 10px;
        color: brown;
    }
    .googleMap{
        width: 90vw;
        height: 28vh;
        margin: 0.9vh 0px 6vh 0px;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 10px;
        margin: 16px 0px 22px 0px;
        border-radius: 5px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1vh;
    }    
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .contactTitle{
        margin: 0px;
        font-size: 6vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 3.2vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px brown solid;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 32%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 3.2vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 0px 0px 25px 0px;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .findTitle{
        margin: 0px;
        font-size: 6vw;
        font-family: 'PT Serif', serif;
        border-radius: 10px;
        color: brown;
    }
    .googleMap{
        width: 90vw;
        height: 30vh;
        margin-bottom: 6vh;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 7px;
        margin: 16px 0px 22px 0px;
        border-radius: 5px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1vh;
    }    
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .contactTitle{
        margin: 0px;
        font-size: 6vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 2.9vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px brown solid;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 32%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 3.2vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 0px 0px 20px 0px;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .findTitle{
        margin: 0px;
        font-size: 6vw;
        font-family: 'PT Serif', serif;
        border-radius: 10px;
        color: brown;
    }
    .googleMap{
        width: 90vw;
        height: 55vh;
        margin-bottom: 10vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1280px) and (orientation: portrait) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 12px;
        margin: 3vh 0px 40px 0px;
        border-radius: 8px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2.5vh;
    }
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .contactTitle{
        margin: 0px;
        font-size: 6.4vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 3.2vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px brown solid;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 2.9vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 2.5vh 0px 2.5vh 0px;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .findTitle{
        margin: 0px;
        font-size: 6.4vw;
        font-family: 'PT Serif', serif;
        border-radius: 10px;
        color: brown;
    }
    .googleMap{
        width: 90vw;
        height: 30vh;
        margin-bottom: 4vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1280px) and (orientation: landscape) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 10px;
        margin: 10vh 0px 5vh 0px;
        border-radius: 5px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3vh;
    }
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .contactTitle{
        margin: 0px;
        font-size: 4.8vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 2vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px brown solid;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 2vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 3vh 0px 20px 0px;
        border: 3px brown solid;
        border-radius: 10px;
    }
    .findTitle{
        margin: 0px;
        font-size: 4.8vw;
        font-family: 'PT Serif', serif;
        border-radius: 10px;
        color: brown;
    }
    .googleMap{
        width: 80vw;
        height: 50vh;
        margin-bottom: 4vh;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1500px) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 1.5vh;
        margin: 10vh 0px 5vh 0px;
        border-radius: 5px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3vh;
    }
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
    }
    .contactTitle{
        margin: 0px;
        font-size: 5vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 2vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 2vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 3vh 0px 20px 0px;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
    }
    .findTitle{
        margin: 0px;
        font-size: 5vw;
        font-family: 'PT Serif', serif;
        border-radius: 0.5vw;
        color: brown;
    }
    .googleMap{
        width: 80vw;
        height: 50vh;
        margin-bottom: 4vh;
    }
}


@media only screen and (min-width: 1501px) {
    .contactWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        width: 90vw;
        height: 1.5vh;
        margin: 11vh 0px 5vh 0px;
        border-radius: 5px;
        background: brown;
    }    
    .contactWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .contactColumn{
        display: flex;
        flex-direction: column;
        width: 94vw;
    }
    .upperWrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3vh;
    }
    .callColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
    }
    .contactTitle{
        margin: 0px;
        font-size: 4vw;
        font-family: 'PT Serif', serif;
        color: brown;
    }
    .contactInfo{
        margin: 0px 0px 10px 0px;
        font-size: 2vw;
    }
    .emailColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 44vw;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
    }
    .hoursColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
        margin-bottom: 1vh;
    }
    .days{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px;
    }
    .day{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 25%;
        margin: 4px 2px 4px 2px;
    }
    .hours{
        margin: 0px;
        font-size: 2vw; 
    }
    .dayLabel{
        font-weight: 700;
    }    
    .findColumn{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .addressColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 64vw;
        margin: 3vh 0px 3vh 0px;
        border: 0.35vw brown solid;
        border-radius: 0.5vw;
    }
    .findTitle{
        margin: 0px;
        font-size: 4vw;
        font-family: 'PT Serif', serif;
        border-radius: 0.5vw;
        color: brown;
    }
    .googleMap{
        width: 80vw;
        height: 50vh;
        margin-bottom: 4vh;
    }
}