.menuTitleWrap{
    display: flex;
    justify-content: space-around;
    background: brown;
    margin: 50px;
}

.menuTitle{
    color: white;
    text-decoration: chocolate underline;
}

.topSection{
    display: flex;
    justify-content: space-around;
}

.drinkColumn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0px 15px 0px 20px;
    padding: 0px 15px 0px 15px;
}

.beanColumn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px 15px 0px 20px;
    padding: 0px 15px 0px 15px;
}

.foodColumn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0px 20px 0px 15px;
    padding: 0px 15px 0px 15px;
}

.drinkItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -5px 5px 10px 5px;

}

.foodItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -5px 5px 10px 5px;

}

.menuItemIMG{
    width: 120px;
    height: 120px;
    margin: 0px 30px 10px 30px;
    border-radius: 50%;
}

.itemTexts{
    width: 170px;
}

h4{
    margin: 0px 0px 0px 0px;
}

p{
    margin: 0px;
}

.bottomSection{
    display: flex;
    justify-content: space-around;
}

.pastryColumn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0px 0px 0px 20px;
    padding: 0px 20px 0px 20px;
}

.pastryItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -5px 10px 20px 10px;
}

.bottomLine{
    display: flex;
    align-items: center;
    justify-content: center;
}

.baseLine{
    width: 90vw;
    height: 10px;
    margin: 20px 0px 40px 0px;
    border-radius: 5px;
    background: brown;
}