@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald:wght@500&family=PT+Sans:ital@1&family=PT+Serif:wght@400;700&family=Yantramanav:wght@500&display=swap');


@media screen and (max-width: 415px) {
    .topSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 55px;
        margin: 20px 0px 10px 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 8.5vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
        height: 6.3rem;
        margin: 0px 5px 10px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 3rem;
        height: 3rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 3rem;
        height: 3rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 3.4vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 2.3vw;
    }
    .beanColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        height: 7.1rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
        height: 7.4rem;
        margin: 0px 5px 10px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
    }
    .pastryColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
        height: 6.5rem;
        margin: 0px 5px 10px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 4.4vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 28%;
        height: 6.5rem;
        margin: 0px 5px 10px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 7px;
        margin: 16px 0px 16px 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 415px) and (max-width: 769px) and (orientation: portrait) {
    .topSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 11vh;
        margin: 3vh 0px 2vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 8vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 11.4rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 3.3vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 2.3vw;
    }
    .beanColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 14.4rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
    }
    .pastryColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 11rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 4.4vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 11rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 10px;
        margin: 20px 0px 16px 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 415px) and (max-width: 769px) and (orientation: landscape) {
    .topSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 13vh;
        margin: 4vh 0px 2vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 6vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 11.4rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 3.3vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 2.3vw;
    }
    .beanColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 14.4rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
    }
    .pastryColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 11rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 4.4vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 11rem;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 10px;
        margin: 20px 0px 16px 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1280px) and (orientation: portrait) {
    .topSection{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-top: 1vh;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        margin: 5vh 0px 4vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 5vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 1vw 0px 0px;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 43%;
        height: 14vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 2.4vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 1.9vw;
    }
    .beanColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 0px 0px 1vw;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 43%;
        height: 20vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
    }
    .pastryColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 21%;
        height: 14vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 2.9vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 21%;
        height: 14vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 10px;
        margin: 20px 0px 16px 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1280px) and (orientation: landscape) {
    .topSection{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-top: 2vh;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 13vh;
        margin: 5vh 0px 4vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 4.7vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 1vw 0px 0px;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 27vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 1.5vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 1.4vw;
    }
    .beanColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 0px 0px 1vw;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 35vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
    }
    .pastryColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 22vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 2.9vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        height: 22vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 10px;
        margin: 20px 0px 16px 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1500px) {
    .menuContainer{
        width: 100%;
        overflow-x: hidden;
    }
    .topSection{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-top: 4vh;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 13vh;
        margin: 5vh 0px 4vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 3.4vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 1vw 0px 0px;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26%;
        height: 20vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 1.4vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 1vw;
    }
    .beanColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 0px 0px 1vw;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26%;
        height: 26vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    .pastryColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 14%;
        height: 23vh;
        margin: 1vh 1vw 15px 1vw;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 1.6vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 13%;
        height: 22vh;
        margin: 1vh 1vw 15px 1vw;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 1.5vh;
        margin: 10vh 0px 6vh 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 1501px) and (max-width: 2500px) {
    .menuContainer{
        width: 100%;
        overflow-x: hidden;
    }
    .topSection{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-top: 4vh;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 13vh;
        margin: 5vh 0px 4vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 3.4vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 1vw 0px 0px;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26%;
        height: 22vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 1.4vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 0.9vw;
    }
    .beanColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 0px 0px 1vw;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26%;
        height: 27vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    .pastryColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 14%;
        height: 22vh;
        margin: 1vh 1vw 15px 1vw;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 1.6vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 13%;
        height: 20vh;
        margin: 1vh 1vw 15px 1vw;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 1.5vh;
        margin: 10vh 0px 6vh 0px;
        border-radius: 5px;
        background: brown;
    }
}


@media only screen and (min-width: 2501px) {
    .menuContainer{
        width: 100%;
        overflow-x: hidden;
    }
    .topSection{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-top: 4vh;
    }
    .menuTitleWrap{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 13vh;
        margin: 5vh 0px 4vh 0px;
        background: brown;
    }
    .menuTitle{
        font-size: 3.4vw;
        font-family: 'Lora', italic;
        font-weight: 400;
        text-decoration: chocolate underline;
        color: white;
    }
    .drinkColumn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 1vw 0px 0px;
    }
    .drinkItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26%;
        height: 15vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .menuItem{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menuItemFlag{
        position: relative;
        z-index: 2;
        width: 6rem;
        height: 6rem;
        margin: 0px 10px 10px 10px;
        border-radius: 50%;
    }
    .menuItemOverflow{
        position: absolute;
        z-index: 3;
        width: 6rem;
        height: 6rem;
        margin: 0px 30px 10px 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .menuItemIMG{
        width: 6.2rem;
        height: 6.2rem;
        object-fit: cover;
    }
    .itemTexts{
        width: 90%;
        margin-left: 8px;
    }
    h4{
        margin: 0px 0px 0px 0px;
        font-size: 1.4vw;
        font-family: 'Lora', cursive;
        font-weight: 800;
    }
    .itemTextsParagraphs{
        margin: 0px;
        font-size: 1vw;
    }
    .beanColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        height: 12rem;
        margin: 0px 0px 0px 0px;
    }
    .foodColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 46vw;
        margin: 0px 0px 0px 1vw;
    }
    .foodItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 26%;
        height: 20vh;
        margin: 0px 5px 15px 5px;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .middleSection{
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    .pastryColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .pastryItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 14%;
        height: 15vh;
        margin: 1vh 1vw 15px 1vw;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomSection{
        display: flex;
        justify-content: space-around;
    }
    .cakeSubtitle{
        margin: 0px 0px 0px 5vw;
        font-size: 1.6vw;
        font-family: 'Yantramanav';
    }
    .cakeColumn{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .cakeItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 13%;
        height: 15vh;
        margin: 1vh 1vw 15px 1vw;
        border: 2px chocolate solid;
        border-radius: 8px;
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .baseLine{
        width: 90vw;
        height: 1.5vh;
        margin: 10vh 0px 6vh 0px;
        border-radius: 5px;
        background: brown;
    }
}